<div class="row justify-content-center m-0">
	<div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4 mt-4 pt-2">
		<h2 class="mb-4">dark mode PDF</h2>
		<div class="form-group">
			<div class="custom-file">
				<input id="file_input" class="custom-file-input" type="file" accept=".pdf">
				<label for="file_input" id="file_input_label" class="custom-file-label">choose file</label>
			</div>
		</div>
		<span>transform option</span>
	</div>
</div>
<div class="row justify-content-center">
	<div class="col-11 col-sm-7 col-md-5 col-lg-4 col-xl-3">
		<div class="form-check p-0">
			<input id="no_ocr_dark" class="form-check-input" name="transform_option" type="radio" value="no_ocr_dark" checked>
			<label class="form-check-label" for="no_ocr_dark"> dark mode (no OCR: digital docs)</label>
		</div>
		<div class="form-check p-0">
			<input id="ocr_dark" class="form-check-input" name="transform_option" type="radio" value="ocr_dark">
			<label class="form-check-label" for="ocr_dark"> dark mode (OCR: scanned docs)</label>
		</div>
		<div class="form-check p-0">
			<input id="dim" class="form-check-input" name="transform_option" type="radio" value="dim">
			<label class="form-check-label" for="dim"> dim</label>
		</div>
	</div>
</div>
<div class="row justify-content-center">
	<div class="col-6 col-sm-4 col-md-4 col-lg-4 col-xl-3 pr-0">
		<button id="loading_button" class="btn btn-primary d-none" type="button" disabled>
			<span class="spinner-border spinner-border-sm" role="status"></span>
		</button>
	</div>
	<div class="col-6 col-sm-4 col-md-2 col-lg-1 col-xl-1 pl-0">
		<button id="convert_button" class="btn btn-primary float-right">convert</button>
		<button id="cancel_button" class="btn btn-secondary float-right d-none" type="button">cancel</button>
	</div>
</div>
<div class="row justify-content-center">
	<div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4">
		<div id="alert_wrapper"></div>
		<div id="progress_wrapper" class="d-none">
			<label id="progress_status"></label>
			<div class="progress mb-3">
				<div id="progress" class="progress-bar" role="progressbar" area-valuemin="0" area-valuemax="100"></div>
			</div>
		</div>
	</div>
</div>
<div class="row justify-content-center">
	<div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-6">
		<div class="terminal">
			<div class="messages">
				<p id="gt_sign">> <span class="blinking_cursor">|</span></p>
			</div>
		</div>
	</div>
</div>
<div class="row justify-content-center mb-0">
	<a class="icon" href="https://github.com/j9108c/dark-mode-pdf" target="_blank"><i class="fab fa-github"></i></a>
</div>
<footer class="row text-center">
	<div class="col-12 line_height_fit">
		<span class="font_size_10"><a target="_blank" href="https://github.com/j9108c/dark-mode-pdf/issues">report issues</a></span>
		<br>
		<span id="visits" class="font_size_10"></span>
		<br>
		<span class="font_size_10"><a target="_blank" href="https://www.buymeacoffee.com/j9108c">help support server costs</a></span>
		<br>
		<span class="font_size_9">released under the <a target="_blank" href="https://opensource.org/licenses/MIT">MIT License</a> &#169; 2020</span>
	</div>
</footer>
<script type="text/javascript" src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="../js/index.js"></script>
