@import url("https://fonts.googleapis.com/css?family=Poppins");
@import url("https://fonts.googleapis.com/css?family=Consolas");

html {
	position: relative;
	min-height: 100%;
}

body {
	font-family: "Poppins", sans-serif;
	color: white;
	background: rgb(43, 43, 43);
}

body::-webkit-scrollbar {
	width: 16px;
}

body::-webkit-scrollbar-track {
	background: rgb(43, 43, 43);
}

body::-webkit-scrollbar-thumb {
	background: rgb(80, 80, 80);
	border: 5px solid rgb(43, 43, 43);
	border-radius: 16px;
}

body::-webkit-scrollbar-thumb:hover {
	border: 3px solid rgb(43, 43, 43);
}

content {
	padding: 0 0 4rem 0; /* match bottom to footer height */
}

footer {
	position: absolute;
	width: 100%;
	height: 4rem; /* space from bottom */
	bottom: 0;
}

a {
	color: rgb(113, 142, 183);
}

a:hover {
	text-decoration: underline;
	color: rgb(113, 142, 183);
}

a:visited {
	color: rgb(169, 110, 110);
}

.custom-file {
	overflow: hidden;
}

.custom-file-label {
	overflow: hidden;
}

.custom-file-label::after {
	content: "browse";
}

.font_size_10 {
	font-size: 10px;
}

.boxed {
	border: 1px solid rgb(200, 200, 200);
}

.consolas {
	font-family: "Consolas", sans-serif;
}

.dropdown-toggle {
	color: rgb(113, 142, 183);
}

.dropdown-toggle:focus {
	color: white;
	box-shadow: none;
}

#dropright_menu {
	background: white;
	min-width: 9rem;
}

#dropdown_menu {
	left: 50%;
	right: auto;
	transform: translate(-50%, 0);
	border-bottom: 15px solid rgb(43, 43, 43);
	border-radius: 0;
	width: 180px;
}

#terminal {
	height: 350px;
	width: auto;
	background: rgb(80, 80, 80);
	border-radius: 5px;
	padding: 10px;
	overflow: hidden;
	overflow-y: scroll;
	color: white;
	font-family: "Consolas", sans-serif;
}

#terminal::-webkit-scrollbar {
	width: 12px;
}

#terminal::-webkit-scrollbar-track {
	background: rgb(80, 80, 80);
	border-radius: 5px;
}

#terminal::-webkit-scrollbar-thumb {
	background: rgb(43, 43, 43);
	border: 3px solid rgb(80, 80, 80);
	border-radius: 12px;
}

#terminal::-webkit-scrollbar-thumb:hover {
	border: 2px solid rgb(80, 80, 80);
}

#blinking_caret {
	font-weight: 100;
	color: white;
	animation: 1s blink step-end infinite;
}
@keyframes blink {
	0% {color: transparent;}
	50% {color: white;}
}

#github_large {
	font-size: 60px;
	color: rgb(60, 60, 60);
}

#github_large:hover {
	color: rgb(120, 120, 120);
}
