<div class="mt-5 px-5">
	<span>
		<a href="{{{hosts.[1025]}}}">index</a>
		<span class="consolas mx-1">/</span>
		<a href="{{{hosts.[1025]}}}/apps">apps</a>
		<span class="consolas mx-1">/</span>
		<a class="boxed px-1" href="{{{app_index}}}">dark-mode-pdf</a>
	</span>
</div>
<div class="row d-flex justify-content-center mt-4">
	<div class="col-12 col-sm-11 col-md-10 col-lg-9 col-xl-8">
		<div class="row d-flex justify-content-center">
			<div class="col-12 col-sm-11 col-md-10 col-lg-9 col-xl-8">
				<h1 class="mb-3">dark-mode-pdf</h1>
				<div class="form-group">
					<div id="file_input_container" class="custom-file">
						<input id="file_input" class="custom-file-input" type="file" accept=".pdf"/>
						<label for="file_input" id="file_input_label" class="custom-file-label">choose file</label>
					</div>
				</div>
				<span>transform option</span>
			</div>
		</div>
	</div>
</div>
<div class="row d-flex justify-content-center">
	<div class="col-12 col-sm-11 col-md-10 col-lg-9 col-xl-8">
		<div class="row d-flex justify-content-center">
			<div class="col-12 col-sm-11 col-md-10 col-lg-9 col-xl-8 ml-3 pl-5">
				<div class="form-check p-0">
					<input id="no_ocr_dark" class="form-check-input" type="radio" name="transform_option" value="no_ocr_dark" checked/>
					<label class="form-check-label" for="no_ocr_dark"> dark mode (no OCR: digital docs)</label>
				</div>
				<div class="form-check ml-3">
					<input id="text_color_1" class="form-check-input" type="checkbox" checked/>
					<label class="form-check-label" for="text_color_1">+ text color: <input id="color_picker_1" type="color" value="#ffffff"/></label>
				</div>
				<div class="form-check ml-3">
					<input id="retain_img_colors" class="form-check-input" type="checkbox"/>
					<label class="form-check-label" for="retain_img_colors">+ retain image colors (EXPERIMENTAL)</label>
				</div>
				<div class="form-check p-0">
					<input id="ocr_dark" class="form-check-input" type="radio" name="transform_option" value="ocr_dark"/>
					<label class="form-check-label" for="ocr_dark"> dark mode (OCR: scanned docs)</label>
				</div>
				<div class="form-check ml-3">
					<input id="text_color_2" class="form-check-input" type="checkbox" disabled/>
					<label class="form-check-label" for="text_color_2">+ text color: <input id="color_picker_2" type="color" value="#ffffff"/></label>
				</div>
				<div class="form-check p-0">
					<input id="dim" class="form-check-input" type="radio" name="transform_option" value="dim"/>
					<label class="form-check-label" for="dim"> dim</label>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row d-flex justify-content-center mt-2">
	<div class="col-12 col-sm-11 col-md-10 col-lg-9 col-xl-8">
		<div class="row d-flex justify-content-center">
			<div class="col-12 col-sm-11 col-md-10 col-lg-9 col-xl-8">
				<div class="row d-flex justify-content-center">
					<div class="col-6 pr-0">
						<button id="loading_button" class="btn btn-primary d-none" type="button" disabled>
							<span class="spinner-border spinner-border-sm" role="status"><span class="sr-only">loading...</span></span>
						</button>
					</div>
					<div class="col-6 pl-0">
						<button id="convert_button" class="btn btn-primary float-right">convert</button>
						<button id="cancel_button" class="btn btn-secondary float-right d-none" type="button">cancel</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row d-flex justify-content-center">
	<div class="col-12 col-sm-11 col-md-10 col-lg-9 col-xl-8">
		<div class="row d-flex justify-content-center">
			<div class="col-12 col-sm-11 col-md-10 col-lg-9 col-xl-8">
				<div id="alert_wrapper"></div>
				<div id="progress_wrapper" class="d-none">
					<label id="progress_status"></label>
					<div class="progress mb-3">
						<div id="progress" class="progress-bar" role="progressbar" area-valuemin="0" area-valuemax="100"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row d-flex justify-content-center mt-2">
	<div class="col-12 col-sm-11 col-md-10 col-lg-9 col-xl-8">
		<div id="terminal" class="rounded">
			<div id="messages">
				<p id="gt_sign">> <span id="blinking_caret">|</span></p>
			</div>
		</div>
		<div id="post_terminal_space" class="pt-2"></div>
	</div>
</div>
<a id="dl" class="d-none" download></a>
